<app-header></app-header>
<app-sidebar></app-sidebar>
<app-main-wrapper>

<h1>{{ sub_title }}</h1>
<table class="tabla-alumnos">
<thead>
    <tr class="wall-blue">
        <th>ID</th>
        <th>NOMBRE</th>
        <th>APELLIDO</th>
    </tr>
</thead>
<tbody>
    <tr class="wall-green" *ngFor ="let alumno of alumnos; let i = index" [ngClass]="i % 2 === 0 ? 'evenBg': 'oddBg'">
        <td>{{i}}</td>
        <td>{{alumno.nombre}}</td>
        <td>{{alumno.apellido}}</td>
    </tr>
</tbody>
</table>
</app-main-wrapper>