<app-dashboard></app-dashboard>
<app-main-wrapper>

<h1>{{ sub_title2 }}</h1>
<main>
    <div>
        <app-reactive-form></app-reactive-form>
    </div>
</main>

<h1>{{ sub_title }}</h1>
<table class="tabla-alumnos">
<thead>
    <tr class="wall-blue">
        <td>ID</td>
        <td>Nombre</td>
        <td>Apellido</td>
    </tr>
</thead>
<tbody>
    <tr class="wall-green" *ngFor ="let alumno of alumnos; let i = index" [ngClass]="i % 2 === 0 ? 'evenBg': 'oddBg'">
        <td>{{i}}</td>
        <td>{{alumno.nombre}}</td>
        <td>{{alumno.apellido}}</td>
    </tr>
</tbody>
</table>
<h2 class="date"> Hoy es: {{date | date}} </h2>
</app-main-wrapper>