<h1 mat-dialog-title>Implementa al alumno al sistema</h1>
<div mat-dialog-content>
    <form [formGroup]="usersForm" class="grid" action="">
        <div class="col-6 field">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input formControlName="name" matInput type="text" name="name">
            <mat-error *ngIf="usersForm.get('name')?.hasError('required')">
            Este campo es requerido
            </mat-error>
            <mat-error *ngIf="usersForm.get('name')?.getError('minlength')">
                El campo solicita tener más de {{ usersForm.get('name')?.getError('minlength')?.requiredLength }} caracteres.
            </mat-error>
            <mat-error *ngIf="usersForm.get('name')?.hasError('noNombre')">
            Ese nombre no es aceptable
            </mat-error>
            <mat-error *ngIf="usersForm.get('name')?.hasError('noUpperCase')">
            Debe de tener por lo menos una mayúscula
            </mat-error>
        </mat-form-field>
        <pre>{{ usersForm.get('name')?.errors | json }}</pre>
        </div>

        <div class="col-6 field">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Apellido</mat-label>
            <input formControlName="surname" matInput type="text" name="surname">
        </mat-form-field>
        </div>

        <div class="col-6 field">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput type="email" name="email">
            <mat-error *ngIf="usersForm.get('email')?.hasError('required')">
            Este campo es requerido
            </mat-error>
        </mat-form-field>
        </div>

        <div class="col-6 field">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input formControlName="password" matInput type="password" name="password">
            <mat-error *ngIf="usersForm.get('password')?.hasError('required')">
            Este campo es requerido
            </mat-error>
        </mat-form-field>
        </div>
    </form>

    <div class="flex justify-content-end" mat-dialog-actions>
        <button mat-button mat-dialog-close (click)="onCancel()">Cancelar</button>
        <button (click)="onSubmit()" type='submit' mat-button>Guardar</button>
    </div>
</div>
